* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  justify-content: center;
}

.container {
  background-color: #ccc;
  margin: 100px auto;
  /* display: inline-block; */
  width: fit-content;
  padding: 10px 20px;
}

.tb_gh {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tb_gh th,
.tb_gh td {
  border: 1px solid #666;
  padding: 5px 10px;
}

button {
  padding: 3px 6px;
  font-weight: bold;
  color: #000;
  border: none;
  outline: none;
  border: 2px solid #000;
  background-color: #ccc;
  border-radius: 5px;
  transition: 0.25s;
}

button:hover {
  background-color: #000;
  color: #ccc;
}
